.container {
	max-width: 960px;
	margin: 0 auto;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: calc(2*8.33%);
}

.col-3 {
	width: calc(3*8.33%);
}

.col-4 {
	width: calc(4*8.33%);
}

.col-9 {
	width: calc(9*8.33%);
}

.col-10 {
	width: calc(10*8.33%);
}

.col-12 {
	width: calc(12*8.33%);
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}

img {
	max-width: 100%;
}

header {
	display: flex
}

#author{
	margin: 0;
	font-size: 3.5em;
	font-weight: lighter;
}

#author-sub{
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 1.25em;
}

.icon {
	max-width: 110px
}

.site-title {
	text-align: right;
	text-transform: uppercase;
}

.project-display {
	display: flex;
	flex-wrap: wrap;
}

.project {
	min-width: 160px;
}